*{
  margin: 0;
  padding: 0;
  overflow: hidden;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent; /* make scrollbar transparent */
}

body{
  background-color: $Purple_Light;
  @extend %fontNumber;
}

#player{
    @include positionStyle(relative, 100vh, 10%);
    margin-left: 4%;
    margin-top: 0.4%;
    float: left;
    a{
        i{
            @include positionStyle(relative, 5%, 30%);
            font-size: 2.5em;
            color: #fff;
            text-align: center;
        }
    }
  }
  
.musicContent{
    @include positionStyle(relative, 100%, 60%);
    bottom: 3%;
    color: #fff;
    float: left;
    .wrappperTitle{
      width: 80%;
      margin-top: 0.5%;
      margin-left: 5%;
    }
    .title{
      animation: slideText 30s 0s normal infinite;
      text-align: center; 
      font-size: 1em;
      white-space: nowrap;
    }
    #seekbar{
        @include positionStyle(absolute, 55%, 100%);
        left: 3%;
        bottom: 0;
    }
    .current-duration{
        position: absolute;
        top: 15%;
        right: 6%;
        font-size: 80%;
    }
    .total-duration{
      position: absolute;
      top: 15%;
      right: 0;
      font-size: 80%;
  }
    
}

#mute{
  position: absolute;
  right: 10%;
  margin-top: 0.4%;
  color: white;
  font-size: 2em;
}

#vol-control{
  position: absolute;
  right: 4.5%;
  margin-top: 0.8%;
  width: 5%;
}

#playlist_add{
  position: absolute;
  margin-top: 0.3%;
  margin-left: 1.5%;
  font-size: 2.3em;
  color: #fff;
}

.grid_Wrapper{
  display: grid;
  grid:{ 
    template-columns: 6fr 1.2fr 12fr 12fr 12fr; //numero de colunas
    template-rows: 7vh 23vh 40vh 23vh 7vh; //numero de linhas
    gap: 0px;
  }
    .grid_aside{
      grid-column: 1/2;
      grid-row: 1/6;
      background-color: $Purple_Light;
      @include positionStyle(relative, 100vh, 100%);
      overflow: scroll;
    }
    .grid_div{
      grid-column: 2/2;
      grid-row: 1/6;
      background-color: $Yellow_Light;
    }
    .grid_main{
      grid-column: 3/6;
      grid-row: 2/5;
      background-color: $BackgroundColor;
    }
    .grid_header{
      grid-column: 3/6;
      grid-row: 1/2;
      background-color: $Purple_Dark;
      // animation: headerOut 2s 0s normal forwards;
    }
    .grid_footer{
      grid-column: 3/6;
      grid-row: 5/6;
      background-color: $Purple_Dark;
      transition: 3s;
    }
}

.imgContainer{
    @include positionStyle(relative, 24%, 80%);
    margin: auto;
    margin-top: 2%;
    .imgUserBack{
        @include positionStyle(absolute, 150px, 150px);
        animation: colorfull 5s 0s normal infinite;
        border-radius: 60%;
        filter: hue-rotate(5deg);
        background-color: $Yellow_Light;
    }
    .imgUserFront{
        @include positionStyle(absolute, 140px, 140px);
        border-radius: 60%;
        background-color: $Purple_Dark;
        left: 3%;
        top: 2.5%;
        img{
            @extend %SelectDisable;
            width: 100%;
            height: 100%;
        }
    }   
}

.nameUser{
  @include positionStyle(relative, 7%, 100%);
  color: white;
  font-size: 2em; 
  text-align: center;
  margin-bottom: 3%;
}

.followContainer{
  @include positionStyle(relative, 13%, 95%);
  background-color: $Orange;
  margin: auto;
  
  .followUser{
      @include positionStyle(initial, 100%, 50%);
      float: left;
      text-align: center;
      color: white;
      font-size: 0.9em;
  }
  .followUser p{
    font-size: 2.2em;
  }

  .followingUser{
      @include positionStyle(initial, 100%, 50%);
      float: right;
      text-align: center;
      color: white;
      font-size: 0.9em;
}
  .followingUser p{
    font-size: 2.2em;
  }

}

.barFriends{
    @include positionStyle(relative, 4%, 100%);
    background-color: $Yellow_Dark;
    margin-top: 2%;
}
.barFriends p{
    color: #fff;
    margin-left: 10%;
}
.sideColum{
    @include positionStyle(absolute, 100%, 10%);
    float: left;
    background-color: $Purple_Dark;
}

.friendsContainer{
    @include positionStyle(relative, 100%, 100%);
    .friends{
        @include positionStyle(relative, 10%, 100%);
        .wrapperFriend{
            @include positionStyle(relative, 100%, 10%);
            float: left;
            margin: 0;
              .friend_On_or_Off{
                @include positionStyle(relative, 15%, 50%);
                // transform: translateY(250%);
                top: 40%;
                margin: auto;
                background-color: #2ffb48;
                border-radius: 60%;
            }
        }
        .friendImage{
            @include positionStyle(relative, 70%, 25%);
            background-color: #2ffb48;
            border-radius: 60%;
            margin-left: 3%;
            top: 15%;
            float: left;
        }
        .friendName{
            @include positionStyle(relative, 40%, 55%);
            font-size: 1rem;
            color: #fff;
            left: 4%;
            top: 15%;
        }
        .friendStatus{
            @include positionStyle(relative, 40%, 55%);
            font-size: 0.7rem;
            color: #fff;
            left: 4%;
            top: 10%;
        }
    }
}

.headerContainer{
    @include positionStyle(relative, 100%, 100%);
    display: initial;
    .appName{
        @include positionStyle(relative, 100%, 7%);
        left: 5%;
        float: left;
        color: #fff;
        font-size: 1.8rem;
    }
    .search{
        @include positionStyle(relative, 100%, 73%);
        left: 8%;
        float: left;
         input{
            @include positionStyle(relative, 70%, 100%);
            top: 15%;
            font-size: 1rem;
            border-radius: 2%;
        }
    }
    .searchLogo{
        @include positionStyle(relative, 100%, 20%);
        left: 10%;
        top: 10%;
        float: left;
        #searchIcon{
          color: white;
          font-size: 2rem;
      }
    }
}

.iconbarContainer{
    @include positionStyle(relative, 100%, 100%);
    transition: 3s;
    button{
      text-decoration: none;
      outline: none;
      background-color: transparent;
      cursor: pointer;
    }
    #personIcon{
        @include iconStyle($Purple_Light, 2.9em);
        position: relative;
        margin-top: 9%;
        margin-bottom: 59%;
        
    }
    #personIcon:hover{
      color: $Orange;
      transition: 2s;
      animation: rotateButton 1s 0s normal forwards;
    }

    #homeIcon{
      @include iconStyle($Purple_Light, 2.9em);
      position: relative;
      margin-bottom: 59%;
    }
    #homeIcon:hover{
      color: $Orange;
      transition: 2s;
      animation: rotateButton 1s 0s normal forwards;
    }
    #headsetIcon{
      @include iconStyle($Purple_Light, 2.9em);
      position: relative;
      margin-bottom: 59%;
    }
    #headsetIcon:hover{
      color: $Orange;
      transition: 2s;
      animation: rotateButton 1s 0s normal forwards;
    }
    #queue_musicIcon{
      @include iconStyle($Purple_Light, 2.9em);
      position: relative;
      margin-bottom: 59%;
    }
    #queue_musicIcon:hover{
      color: $Orange;
      transition: 2s;
      animation: rotateButton 1s 0s normal forwards;
    }

    #settingsIcon{
      @include iconStyle($Purple_Light, 2.9em);
      position: absolute;
      bottom: 0.5%;
    }
    #settingsIcon:hover{
      color: $Orange;
      transition: 2s;
      animation: rotateButton 1s 0s normal forwards;
    }
}

.iconbarContainer:hover{
  background-color: $Purple_Dark;
  transition: 1s;
}

.containerMainUser{
    @include positionStyle(relative, 100%, 91%);
    margin: auto;
    overflow: scroll;
    .NameNews{
      color: #fff;
      font-size: 1.3rem;
      margin-top: 0.5%;
      margin-bottom: 0.5%;
    }
    
    .podcastMDS{
        @include positionStyle(relative, 45%, 100%);
        overflow-x: scroll;
        margin-bottom: 1%;
        .track{
            @include positionStyle(relative, 100%, 19.5%);
            background-color: $Orange;
            margin-right: 0.5%;
            margin-top: 0.5%;
            float: left;
            .hoverTrack{
                @include positionStyle(relative, 100%, 100%);
                opacity: 0;
                transition: 0.5s;
                z-index: 3;
                background-color:rgba(0, 0, 0, 0.8);
                button{
                    @include positionStyle(relative, 100%, 100%);
                    text-decoration: none;
                    outline: none;
                    background-color: transparent;
                    cursor: pointer;
                    #play_circle_outline{
                        font-size: 8rem;
                        color: #fff;
                        transition: 0.5s;
                    }
                    #play_circle_outline:active{
                        transition: 0.5s;
                        font-size: 10rem;
                    }
                }
            }
            .hoverTrack:hover{
                transition: 0.3s;
                opacity: 1;
            }
            .informationTrack{
                @include positionStyle(absolute, 20%, 100%);
                background-color: $Purple_Light;
                bottom: 0;
                float: left;
                .trackName{
                    @include positionStyle(absolute, 50%, 65%);
                    color: #fff;
                    font-size: 1.2em;
                    right: 0;
                    top: 0;
                }
                .authorName{
                    @include positionStyle(absolute, 30%, 65%);
                    color: #fff;
                    font-size: 0.6em;
                    bottom: 15%;
                    right: 0;
                }
            }
            .authorImg{
                @include positionStyle(absolute, 60px, 60px);
                border-radius: 50%;
                background-color: $Yellow_Light;
                bottom: 3.5%;
                left: 2%;
                z-index: 2;
            }
        }
    }
}

#containerMainPerson{
    display: none;
}

.containerMainPerson{
    @include positionStyle(relative, 100%, 100%);
    .wrapperMainPerson{
        @include positionStyle(relative, 100%, 20%);
        float: left;
        .titleYourPlaylist{
          @include positionStyle(relative, 5%, 100%);
          background-color: $Orange;
          color: #fff;
          text-align: center;
        }
        .sideYourPlaylists{
            @include positionStyle(relative, 94%, 100%);
            overflow-y: scroll;
            background-color: $BackgroundColor_Dark;
            .sideYourAlbuns{
              @include positionStyle(relative, 100px, 47%);
              background-color: $Orange;
              margin: 2% 0.5% 0% 2%;
              float: left;
          }
        }
        .btnCreatePlaylist{
            @include positionStyle(absolute, 10%, 28%);
            background-color: #1ca82d;
            bottom: 2%;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 60%;
            i {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              color: #fff;
              font-size: 2.5em;
              cursor: pointer;
              transition: 0.5s;
            }
            i:hover {
              font-size: 3.3em;
              cursor: pointer;
              transition: 0.5s;
              filter: drop-shadow(8px 10px 4px #000);
              @extend %SelectDisable;
            }
        }
    }
    .wrapperUploadPodcast{
        @include positionStyle(relative, 100%, 70%);
        left: 1%;
        .titleYourPlaylist2{
            @include positionStyle(relative, 5%, 100%);
            background-color: $Orange;
            color: #fff;
            text-align: center;
        }
        .infoPlaylist{
            @include positionStyle(relative, 35%, 100%);
            background-color: $BackgroundColor_Dark;
            .wrapperAlbumImg{
                @include positionStyle(relative, 100%, 25%);
                float: left;
                left: 1%;
                top: 4%;
                .imgAlbum{
                    @include positionStyle(relative, 90%, 100%);
                    float: left;
                    background-color: #fff;
                }
            }
            .namePodcast, .nameProducer, .nameDesc{
              color: #fff;
              position: relative;
              left: 3%;
              @extend %fontNumber;
            }
            .namePodcast{
                font-size: 1.6em;
            }
            .nameProducer{
              font-size: 1em;
              margin-bottom: 2%;
            }
            .nameDesc{
              width: 70%;
              height: 40%;
              font-size: 0.8em;
              word-wrap: break-word;
            }
            button{
              @include positionStyle(relative, 15%, 70%);
              left: 3%;
              margin-top: 1%;
              background-color: $Yellow_Light;
              color: #fff;
              cursor: pointer;
            } 
            button:hover{
              background-color: $Yellow_Dark;
              border-style: solid;
              border-color: $Yellow_Dark;
              border-width: 15.5px;
              animation: buttonAnima 1s 0s normal forwards;
            } 
        }
        
        .uploadPodcast{
            @include positionStyle(relative, 58.5%, 100%);
            background-color: $BackgroundColor_Dark;
            top: 0.5%;
            overflow: scroll;
            table{
              @include positionStyle(relative, 10%, 98%);
              color: #fff;
              margin: auto;
              border-spacing: 0px 4px;
            }
            tr td{
                background-color: $BackgroundColor_EvenDark;
                padding: 3px;
                animation: easeColor 2s 0s normal forwards;
            }
            .centerCell{
                text-align: center;
                padding-right: 2%;
                padding-left: 2%;
                button{
                    text-decoration: none;
                    outline: none;
                    background-color: transparent;
                    cursor: pointer;
                    transition: 2s;
                    i{
                      color: #fff;
                      font-size: 2.5em;
                      margin-top: 10%;
                    }
                    i:active{
                      color: $Yellow_Light;
                      transition: 0.2s;
                    }
                }
            }
        }
        .btnUptoBank{
            @include positionStyle(absolute, 10%, 8%);
            bottom: 2%;
            left: 95%;
            transform: translateX(-50%);
            border-radius: 60%;
            background-color: #1ca82d;
            color: #fff;
            i {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              color: #fff;
              font-size: 2.5em;
              cursor: pointer;
              transition: 0.5s;
            }
            i:hover {
              font-size: 3.3em;
              cursor: pointer;
              transition: 0.5s;
              filter: drop-shadow(8px 10px 3px #000);
              @extend %SelectDisable;
            }
        }
    }
}

.modalMainPerson{
    @include positionStyle(absolute, 100%, 100%);
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.0);
    z-index: 1000;
    display: none;
    animation: black_background_modal 1.5s 0s normal forwards;
    #btnclose{
      position: absolute;
      top: 2%;
      right: 2%;
      color: #fff;
      cursor: pointer;
      transition: 0.5s;
    }
    #btnclose:hover{
      font-size: 2em;
      cursor: pointer;
      transition: 0.5s;
      filter: drop-shadow(8px 5px 2px #000);
      @extend %SelectDisable;
    }
    .form{
        @include positionStyle(absolute, 85%, 50%);
        background-color: $BackgroundColor;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -50%);
        border-radius: 15px;
        animation: form 1s 0s normal forwards;
        h5{
            text-align: center;
            margin-top: 1%;
            font-size: 1.7em;
            color: #fff;
            animation: anime_title 0.5s 0s normal forwards;
        }
        form{
            @include positionStyle(relative, 95%, 95%);
            margin: auto;
            margin-top: 1%;
            label{
              color: #fff;
              font-size: 1.2em;
            }
            #fnameP, #fmentions{
                background-color: $BackgroundColor_EvenDark;
                color: #fff;
                width: 63%;
                height: 25px;
                border-radius: 10px;
                margin-bottom: 3%;
            }
            #fdesc{
                background-color: $BackgroundColor_EvenDark;
                color: #fff;
                width: 63%;
                height: 280px;
                border-radius: 10px;
                resize: none;
                // margin-bottom: 3%;
            }
            .WrapperImgPlaylist{
                @include positionStyle(absolute, 98%, 35%);
                top: 0;
                right: 0;
                .modalUpImg{
                    @include positionStyle(relative, 50%, 100%);
                    background-color: white;
                    margin-top: 3%;
                }
                input:nth-child(2){
                    margin-top: 3%;
                    background-color: $BackgroundColor_EvenDark;
                    color: #fff;
                }
                input:nth-child(3){
                    position: absolute;
                    bottom: 0;
                    background-color: #1ca82d;
                    color: #fff;
                    width: 100%;
                    height: 10%;
                }
            }
        }
    }
}

.modalMainPersonConfirm{
  @include positionStyle(absolute, 100%, 100%);
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.0);
  z-index: 1000;
  display: none;
  animation: black_background_modal 1.5s 0s normal forwards;
  #btnclose{
    position: absolute;
    top: 2%;
    right: 2%;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
  }
  #btnclose:hover{
    font-size: 2em;
    cursor: pointer;
    transition: 0.5s;
    filter: drop-shadow(8px 5px 2px #000);
    @extend %SelectDisable;
  }
  .formConfirm{
      @include positionStyle(absolute, 85%, 35%);
      background-color: $BackgroundColor;
      top: 50%;
      left: 50%;
      transform: translate(-40%, -50%);
      border-radius: 15px;
      animation: form 1s 0s normal forwards;
      h5{
          text-align: center;
          margin-top: 1%;
          font-size: 1.7em;
          color: #fff;
          animation: anime_title 0.5s 0s normal forwards;
      }
      form{
          @include positionStyle(relative, 95%, 80%);
          margin: auto;
          margin-top: 1%;
          label{
            color: #fff;
            font-size: 1.2em;
          }
          #fnameP, #fmentions{
              background-color: $BackgroundColor_EvenDark;
              color: #fff;
              width: 100%;
              height: 25px;
              border-radius: 10px;
              margin-bottom: 3%;
              text-align: center;
          }
          #fdesc{
              background-color: $BackgroundColor_EvenDark;
              color: #fff;
              width: 6%;
              height: 280px;
              border-radius: 10px;
              resize: none;
              // margin-bottom: 3%;
          }
          center:nth-child(13) input{
            position: relative;
            width: 100%;
            background-color: $BackgroundColor_EvenDark;
            color: #fff;
            font-size: 0.8em;
          }
          #btninsert{
              position: relative;
              width: 60%;
              height: 50px;
              background-color: #1ca82d;
              color: #fff;
              font-size: 1.5em;
          }
      }
  }
}

#containerMainHeadPhone{
  display: none;
}

.containerMainHeadPhone{
  @include positionStyle(relative, 100%, 91%);
  margin: auto;
  overflow-y: scroll;
  .mainNews{
    margin-top: 0.5%;
    @include positionStyle(relative, 80%, 100%);
    .category1{
        @include positionStyle(relative, 100%, 20%);
        float: left;
        background-color: #fff;
    }
    .category2{
        @include positionStyle(relative, 100%, 20%);
        float: left;
        margin-left: 0.2%;
        background-color: #fff;
    }
    .category3{
        @include positionStyle(relative, 100%, 20%);
        float: left;
        margin-left: 0.2%;
        background-color: #fff;
    }
    .category4{
        @include positionStyle(relative, 100%, 20%);
        float: left;
        margin-left: 0.2%;
        background-color: #fff;
    }
    .category5{
      @include positionStyle(relative, 100%, 19%);
      float: left;
      margin-left: 0.2%;
      background-color: #fff;
  }
  
}
    h3{
      font-size: 1.4em;
      color: #fff;
      margin: 0.5% 0 0.5% 0;
      @extend %SelectDisable;
    }
    .itens{
      display: flex;
      overflow-x: scroll;
      scrollbar-width: initial;
      margin-bottom: 2%;
      @extend %SelectDisable;
  }
    .itens .item{
      min-width: 200px;
      height: 300px;
      margin: 5px;
    .podcastBanner{
        @include positionStyle(relative, 300px, 200px);
        float: left;
        img{
          width: 200px;
          height: 300px;
          transition: 0.3s;
          @extend %SelectDisable;
        }
        img:hover{
          transition: 0.3s;
          width: 210px;
          height: 310px;
        }
      }
      .containerInfo{
        @include positionStyle(absolute, 25%, 100%);
        background-color:rgba(26, 9, 41, 0.7);
        bottom: 0;
        left: 0;
    }
    .podcastName{
        @include positionStyle(relative, 35%, 65%);
        font-size: 1.2em;
        color: #fff;
        margin-top: 1%;
        margin-left: 3%;
        float: left;
        // @extend %SelectDisable;
      }
      .podcastDesc{
          @include positionStyle(relative, 60%, 65%);
          color: #fff;
          font-size: 0.6em;
          margin-top: 0.5%;
          margin-left: 3%;
          float: left;
          word-wrap: break-all;
      }
      .podcastView{
        @include positionStyle(relative, 100%, 32%);
        i {
          @include positionStyle(absolute, 40%, 100%);
          color: #ef4b50;
          font-size: 2em;
          left: 24%;
          top: 10%;
        }
        p {
          @include positionStyle(relative, 40%, 100%);
          color: #fff;
          font-size: 1em;
          text-align: center;
          margin-top: 65%;
        }
    }
  }
  }

.itens::-webkit-scrollbar {
  width: 12px;
  height: 16px;
  background: #3a1e26; /* make scrollbar transparent */
}

.itens::-webkit-scrollbar-button {
  width: 12px;
  height: 16px;
  background: #221217; /* make scrollbar transparent */
}

.itens::-webkit-scrollbar-thumb {
  width: 3px;
  height: 10px;
  border-radius: 6px;
  background: $BackgroundColor_EvenDark; /* make scrollbar transparent */
}

#containerMainPlaylist{
  display: none;
}

.containerMainPlaylist{
    @include positionStyle(relative, 100%, 95%);
    .namePlaylist{
        @include positionStyle(relative, 6%, 100%);
        background-color: $Orange;
        p{
            @include positionStyle(relative, 100%, 100%);
            font-size: 1.2em;
            margin-left: 2%;
            color: #fff;
        }
    }
    .sidePlaylist{
        @include positionStyle(relative, 100%, 20%);
        overflow-y: scroll;
        background-color: $BackgroundColor_Dark;
        float: left;
        animation: easeColorContainer 2s 0s normal forwards;
    }
    .albunsPlaylist{
        @include positionStyle(relative, 100px, 47%);
        background-color: $Orange;
        margin: 2% 0.5% 0% 2%;
        float: left;
    }
    .namePlaylist_b{
        @include positionStyle(relative, 6%, 73%);
        background-color: $Orange;
        left: 1%;
        p{
            @include positionStyle(relative, 100%, 100%);
            font-size: 1.2em;
            margin-left: 2%;
            color: #fff;
        }
    }
    .playlist{
        @include positionStyle(relative, 100%, 73%);
        background-color: $BackgroundColor_Dark;
        overflow-y: scroll;
        left: 1%;
        animation: easeColorContainer 2s 0s normal forwards;
        table{
            @include positionStyle(relative, 10%, 98%);
            color: #fff;
            margin: auto;
            border-spacing: 0px 4px;
        }
        tr td{
            background-color: $BackgroundColor_EvenDark;
            padding: 3px;
            animation: easeColor 2s 0s normal forwards;
        }
        .centerCell{
            text-align: center;
            padding-right: 2%;
            padding-left: 2%;
            button{
                text-decoration: none;
                outline: none;
                background-color: transparent;
                cursor: pointer;
                transition: 2s;
                i{
                  color: #fff;
                  font-size: 2.5em;
                  margin-top: 10%;
                }
                i:active{
                  color: $Yellow_Light;
                  transition: 0.2s;
                }
            }
        }
    }
}

#containerMainSettings{
  display: none;
}

.containerMainSettings{
    @include positionStyle(relative, 100%, 100%);
    background-color: $BackgroundColor;
    .wrapperUserSettings{
        @include positionStyle(relative, 100%, 25%);
        float: left;
        .leftInfoContainer{
            @include positionStyle(relative, 100%, 100%);
            background-color: $BackgroundColor_EvenDark;
            .imgUser{
                height: 35%;
                width: 70%;
                background-color: $Yellow_Dark;
                margin: auto;
                margin-top: 6%;
                border-radius: 60%;
            }
            p{
                color: #fff;
                font-size: 1.5em;
                text-align: center;
                margin-top: 6%;
            }
            a button{
                background-color: #1ca82d;
                color: #fff;
                padding: 2%;
                border-radius: 10px;
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 45%;
                height: 6%;
            }
            .status{
                @include positionStyle(static, 20%, 85%);
                margin: auto;
                margin-top: 2%;
                form{
                    @include positionStyle(static, 100%, 100%);
                    textarea{
                      @include positionStyle(static, 100%, 100%);
                      background-color: $Yellow_Light;
                      @extend %fontNumber;
                      font-size: 1.2em;
                      resize: none;
                    }
                    button{
                      @include positionStyle(static, 100%, 100%);
                      background-color: $Yellow_Light;
                    }
                }
            }
        }
    }
    .wrapperSettingGlobal{
        @include positionStyle(relative, 100%, 70%);
        .containerSettingsGlobal{
            @include positionStyle(relative, 100%, 100%);
            background-color: $BackgroundColor_Dark;
            top: 0;
            left: 0%;
            border-left: 5px solid $Orange;
            overflow: scroll;
        }
        form{
            @include positionStyle(relative, 100%, 98%);
            top: 1%;
            margin: auto;
            label{
                font-size: 1em;
                color: #fff;
            }
            select{
                @include positionStyle(static, 5%, 100%);
                border-radius: 60px;
                background-color: $BackgroundColor_EvenDark;
                color: #fff;
                padding: 2px;
            }
            h5{
                color: #fff;
                font-size: 0.7em;
                margin-top: 1%;
                margin-bottom: 1%;
            }
            .wrapperPersoninfo, .wrapperAccountinfo{
                width: 90%;
                margin-top: 5%;
                margin: auto;
                #lblName, #lblNickName{
                    font-size: 1.3em;
                    margin-top: 2%;
                }
                input{
                    @include positionStyle(static, 10%, 100%);
                    height: 30px;
                    margin-top: 1%;
                    margin-bottom: 1%;
                    border-radius: 60px;
                    background-color: $BackgroundColor_EvenDark;
                    color: #fff;
                    padding: 2px;
                }
            }
            input[type=submit]{
                @include positionStyle(fixed, 6%, 7%);
                background-color: #1ca82d;
                color: #fff;
                bottom: 7%;
                right: 4%;
            }
        }
    }
}
