@keyframes rotateButton {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}

@keyframes colorfull {
    from { filter: hue-rotate(5deg); }
    to { filter: hue-rotate(360deg); }
}

@keyframes easeColorContainer {
    from { background-color: $BackgroundColor; }
    to { background-color: $BackgroundColor_Dark; }
}

@keyframes easeColor {
    from { background-color: $BackgroundColor; }
    to { background-color: $BackgroundColor_EvenDark; }
}

@keyframes slideText{
    from { margin-left: 5%; }
    to { margin-left: -100%; }
}