@keyframes rotateButton {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}

@keyframes colorfull {
    from { filter: hue-rotate(5deg); }
    to { filter: hue-rotate(360deg); }
}

@keyframes easeColorContainer {
    from { background-color: $BackgroundColor; }
    to { background-color: $BackgroundColor_Dark; }
}

@keyframes easeColor {
    from { background-color: $BackgroundColor; }
    to { background-color: $BackgroundColor_EvenDark; }
}

@keyframes slideText{
    from { margin-left: 5%; }
    to { margin-left: -100%; }
}

// form animations

@keyframes black_background_modal{
    from { background-color: rgba(0, 0, 0, 0.0); }
    to { background-color: rgba(0, 0, 0, 0.7); }
}

@keyframes form{
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes anime_title{
    from { opacity: 0; margin-top: -1%;}
    to { opacity: 1; margin-top: 1%;}
}

@keyframes buttonAnima{
    from { border-width: 15.5px;  }
    to { border-width: 0px; font-size: 1em;}
}