//Colors

    $Purple_Light: #2E1B40;
    $Purple_Dark: #1A0929;

    $Yellow_Light: #C8942F;
    $Yellow_Dark: #AA7818;

    $BackgroundColor: #4B2832;
    $BackgroundColor_Dark: #371D25;
    $BackgroundColor_EvenDark: #2D191F;
    $Orange: #C85D2F;

//Fonts

%fontRegular{
    //poppins
    @import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900&display=swap');;
    font-family: 'Poppins', light;
}

%fontExtraBold{
    //poppins
    @import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900&display=swap');;
    font-family: 'Poppins';
    font-weight: 900;
}

%fontNumber{
    @import url('https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap');
    font-family: 'Oswald';
}

//functions

@mixin positionStyle($position, $hg, $wd) {
    position: $position;
    height: $hg;
    width: $wd;
}

@mixin iconStyle($color, $fontsize){
    color: $color;
    font-size: $fontsize;
}


%SelectDisable{
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;

    -webkit-user-drag: none; 
    -khtml-user-drag: none; 
    -moz-user-drag: none; 
    -o-user-drag: none; 
    user-drag: none;
}